In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import pickle
import sys 

root_path = 'C://Users//HP//projects//DiplomaThesis'
sys.path.append(f'{root_path}//utils')
sys.path.append(f'{root_path}//data')

%load_ext autoreload
%autoreload 2
%matplotlib inline

In [2]:
import data

In [7]:
subset = data.Subset()
subset.calculate(nrow=500)
cleaned = data.Cleaned()
cleaned.calculate()

C:\Users\HP\Anaconda3\envs\thesis\lib\site-packages\sklearn\utils\extmath.py:770: RuntimeWarning: invalid value encountered in true_divide
  updated_mean = (last_sum + new_sum) / updated_sample_count
C:\Users\HP\Anaconda3\envs\thesis\lib\site-packages\sklearn\preprocessing\_data.py:978: RuntimeWarning: All-NaN slice encountered
  max_abs = np.nanmax(np.abs(X), axis=0)
C:\Users\HP\Anaconda3\envs\thesis\lib\site-packages\sklearn\utils\extmath.py:770: RuntimeWarning: invalid value encountered in true_divide
  updated_mean = (last_sum + new_sum) / updated_sample_count
C:\Users\HP\Anaconda3\envs\thesis\lib\site-packages\sklearn\preprocessing\_data.py:978: RuntimeWarning: All-NaN slice encountered
  max_abs = np.nanmax(np.abs(X), axis=0)
C:\Users\HP\Anaconda3\envs\thesis\lib\site-packages\sklearn\utils\extmath.py:770: RuntimeWarning: invalid value encountered in true_divide
  updated_mean = (last_sum + new_sum) / updated_sample_count
C:\Users\HP\Anaconda3\envs\thesis\lib\site-packages\sklearn\preprocessing\_data.py:978: RuntimeWarning: All-NaN slice encountered
  max_abs = np.nanmax(np.abs(X), axis=0)
C:\Users\HP\Anaconda3\envs\thesis\lib\site-packages\sklearn\utils\extmath.py:770: RuntimeWarning: invalid value encountered in true_divide
  updated_mean = (last_sum + new_sum) / updated_sample_count
C:\Users\HP\Anaconda3\envs\thesis\lib\site-packages\sklearn\preprocessing\_data.py:978: RuntimeWarning: All-NaN slice encountered
  max_abs = np.nanmax(np.abs(X), axis=0)
C:\Users\HP\Anaconda3\envs\thesis\lib\site-packages\sklearn\utils\extmath.py:770: RuntimeWarning: invalid value encountered in true_divide
  updated_mean = (last_sum + new_sum) / updated_sample_count
C:\Users\HP\Anaconda3\envs\thesis\lib\site-packages\sklearn\preprocessing\_data.py:978: RuntimeWarning: All-NaN slice encountered
  max_abs = np.nanmax(np.abs(X), axis=0)
C:\Users\HP\Anaconda3\envs\thesis\lib\site-packages\sklearn\utils\extmath.py:770: RuntimeWarning: invalid value encountered in true_divide
  updated_mean = (last_sum + new_sum) / updated_sample_count
C:\Users\HP\Anaconda3\envs\thesis\lib\site-packages\sklearn\preprocessing\_data.py:978: RuntimeWarning: All-NaN slice encountered
  max_abs = np.nanmax(np.abs(X), axis=0)
C:\Users\HP\Anaconda3\envs\thesis\lib\site-packages\sklearn\utils\extmath.py:770: RuntimeWarning: invalid value encountered in true_divide
  updated_mean = (last_sum + new_sum) / updated_sample_count
C:\Users\HP\Anaconda3\envs\thesis\lib\site-packages\sklearn\preprocessing\_data.py:978: RuntimeWarning: All-NaN slice encountered
  max_abs = np.nanmax(np.abs(X), axis=0)
C:\Users\HP\Anaconda3\envs\thesis\lib\site-packages\sklearn\utils\extmath.py:770: RuntimeWarning: invalid value encountered in true_divide
  updated_mean = (last_sum + new_sum) / updated_sample_count
C:\Users\HP\Anaconda3\envs\thesis\lib\site-packages\sklearn\preprocessing\_data.py:978: RuntimeWarning: All-NaN slice encountered
  max_abs = np.nanmax(np.abs(X), axis=0)
C:\Users\HP\Anaconda3\envs\thesis\lib\site-packages\sklearn\utils\extmath.py:770: RuntimeWarning: invalid value encountered in true_divide
  updated_mean = (last_sum + new_sum) / updated_sample_count
C:\Users\HP\Anaconda3\envs\thesis\lib\site-packages\sklearn\preprocessing\_data.py:978: RuntimeWarning: All-NaN slice encountered
  max_abs = np.nanmax(np.abs(X), axis=0)
C:\Users\HP\Anaconda3\envs\thesis\lib\site-packages\sklearn\utils\extmath.py:770: RuntimeWarning: invalid value encountered in true_divide
  updated_mean = (last_sum + new_sum) / updated_sample_count
C:\Users\HP\Anaconda3\envs\thesis\lib\site-packages\sklearn\preprocessing\_data.py:978: RuntimeWarning: All-NaN slice encountered
  max_abs = np.nanmax(np.abs(X), axis=0)
C:\Users\HP\Anaconda3\envs\thesis\lib\site-packages\sklearn\utils\extmath.py:770: RuntimeWarning: invalid value encountered in true_divide
  updated_mean = (last_sum + new_sum) / updated_sample_count
C:\Users\HP\Anaconda3\envs\thesis\lib\site-packages\sklearn\preprocessing\_data.py:978: RuntimeWarning: All-NaN slice encountered
  max_abs = np.nanmax(np.abs(X), axis=0)
C:\Users\HP\Anaconda3\envs\thesis\lib\site-packages\sklearn\utils\extmath.py:770: RuntimeWarning: invalid value encountered in true_divide
  updated_mean = (last_sum + new_sum) / updated_sample_count
C:\Users\HP\Anaconda3\envs\thesis\lib\site-packages\sklearn\preprocessing\_data.py:978: RuntimeWarning: All-NaN slice encountered
  max_abs = np.nanmax(np.abs(X), axis=0)
C:\Users\HP\Anaconda3\envs\thesis\lib\site-packages\sklearn\utils\extmath.py:770: RuntimeWarning: invalid value encountered in true_divide
  updated_mean = (last_sum + new_sum) / updated_sample_count
C:\Users\HP\Anaconda3\envs\thesis\lib\site-packages\sklearn\preprocessing\_data.py:978: RuntimeWarning: All-NaN slice encountered
  max_abs = np.nanmax(np.abs(X), axis=0)
C:\Users\HP\Anaconda3\envs\thesis\lib\site-packages\sklearn\utils\extmath.py:770: RuntimeWarning: invalid value encountered in true_divide
  updated_mean = (last_sum + new_sum) / updated_sample_count
C:\Users\HP\Anaconda3\envs\thesis\lib\site-packages\sklearn\preprocessing\_data.py:978: RuntimeWarning: All-NaN slice encountered
  max_abs = np.nanmax(np.abs(X), axis=0)
C:\Users\HP\Anaconda3\envs\thesis\lib\site-packages\sklearn\utils\extmath.py:770: RuntimeWarning: invalid value encountered in true_divide
  updated_mean = (last_sum + new_sum) / updated_sample_count
C:\Users\HP\Anaconda3\envs\thesis\lib\site-packages\sklearn\preprocessing\_data.py:978: RuntimeWarning: All-NaN slice encountered
  max_abs = np.nanmax(np.abs(X), axis=0)
C:\Users\HP\Anaconda3\envs\thesis\lib\site-packages\sklearn\utils\extmath.py:770: RuntimeWarning: invalid value encountered in true_divide
  updated_mean = (last_sum + new_sum) / updated_sample_count
C:\Users\HP\Anaconda3\envs\thesis\lib\site-packages\sklearn\preprocessing\_data.py:978: RuntimeWarning: All-NaN slice encountered
  max_abs = np.nanmax(np.abs(X), axis=0)
C:\Users\HP\Anaconda3\envs\thesis\lib\site-packages\sklearn\utils\extmath.py:770: RuntimeWarning: invalid value encountered in true_divide
  updated_mean = (last_sum + new_sum) / updated_sample_count
C:\Users\HP\Anaconda3\envs\thesis\lib\site-packages\sklearn\preprocessing\_data.py:978: RuntimeWarning: All-NaN slice encountered
  max_abs = np.nanmax(np.abs(X), axis=0)
C:\Users\HP\Anaconda3\envs\thesis\lib\site-packages\sklearn\utils\extmath.py:770: RuntimeWarning: invalid value encountered in true_divide
  updated_mean = (last_sum + new_sum) / updated_sample_count
C:\Users\HP\Anaconda3\envs\thesis\lib\site-packages\sklearn\preprocessing\_data.py:978: RuntimeWarning: All-NaN slice encountered
  max_abs = np.nanmax(np.abs(X), axis=0)

In [8]:
cleaned.load()

In [10]:
cleaned.features

                         BM      Accr  MBaAC       AGr     ATurn  dATurn  \
DTID   date
130280 1994-04-01  0.000000  0.000000    0.0  0.000000  0.000000     0.0
       1994-05-01  0.000000  0.000000    0.0  0.000000  0.000000     0.0
       1994-06-01  0.000000  0.000000    0.0  0.000000  0.000000     0.0
       1994-07-01  0.000000  0.000000    0.0  0.000000  0.000000     0.0
       1994-08-01  0.000000  0.000000    0.0  0.000000  0.000000     0.0
...                     ...       ...    ...       ...       ...     ...
130578 2006-09-01 -0.662163 -0.231936    0.0  0.703784 -0.791537     0.0
       2006-10-01 -0.672422 -0.231936    0.0  0.703784 -0.791537     0.0
       2006-11-01 -0.876977 -0.231936    0.0  0.703784 -0.791537     0.0
       2006-12-01 -1.000000 -0.231936    0.0  0.703784 -0.791537     0.0
       2007-01-01 -1.000000  1.000000    0.0 -0.512247 -1.000000     0.0

                        dPM      RNOA        PM      dNOA  ...   FD   AC  \
DTID   date                                                ...
130280 1994-04-01  0.000000  0.000000  0.000000  0.000000  ...  0.0  0.0
       1994-05-01  0.000000  0.000000  0.000000  0.000000  ...  0.0  0.0
       1994-06-01  0.000000  0.000000  0.000000  0.000000  ...  0.0  0.0
       1994-07-01  0.000000  0.000000  0.000000  0.000000  ...  0.0  0.0
       1994-08-01  0.000000  0.000000  0.000000  0.000000  ...  0.0  0.0
...                     ...       ...       ...       ...  ...  ...  ...
130578 2006-09-01  0.972208 -0.349320 -0.961312  0.697721  ...  0.0  0.0
       2006-10-01  0.972208 -0.349320 -0.961312  0.697721  ...  0.0  0.0
       2006-11-01  0.972208 -0.349320 -0.961312  0.697721  ...  0.0  0.0
       2006-12-01  0.972208 -0.349320 -0.961312  0.697721  ...  0.0  0.0
       2007-01-01  1.000000 -0.885017 -1.000000  1.000000  ...  0.0  0.0

                   DispLT  DispLTST  dAEF  LTGrF  ChiFA   AV       ChR  EFoP
DTID   date
130280 1994-04-01     0.0       0.0   0.0    0.0    0.0  0.0  0.000000   0.0
       1994-05-01     0.0       0.0   0.0    0.0    0.0  0.0  0.000000   0.0
       1994-06-01     0.0       0.0   0.0    0.0    0.0  0.0  0.000000   0.0
       1994-07-01     0.0       0.0   0.0    0.0    0.0  0.0  0.000000   0.0
       1994-08-01     0.0       0.0   0.0    0.0    0.0  0.0  0.000000   0.0
...                   ...       ...   ...    ...    ...  ...       ...   ...
130578 2006-09-01     0.0       0.0   0.0    0.0    0.0  0.0  1.000000   0.0
       2006-10-01     0.0       0.0   0.0    0.0    0.0  0.0 -0.036446   0.0
       2006-11-01     0.0       0.0   0.0    0.0    0.0  0.0 -0.036446   0.0
       2006-12-01     0.0       0.0   0.0    0.0    0.0  0.0 -0.036446   0.0
       2007-01-01     0.0       0.0   0.0    0.0    0.0  0.0  1.000000   0.0

[500 rows x 153 columns]

In [11]:
cleaned.targets

                          r
DTID   date
130280 1994-04-01 -0.087278
       1994-05-01 -0.054552
       1994-06-01 -0.103817
       1994-07-01  0.055349
       1994-08-01 -0.000965
...                     ...
130578 2006-12-01  0.100092
       2007-01-01  0.096250
       2007-02-01  0.360336
       2007-03-01  0.122797
       2007-04-01  0.192677

[500 rows x 1 columns]